{% extends 'base.html.twig' %}

{% block title %}Edit Chantier{% endblock %}

{% block body %}
    <h1>Edit Chantier</h1>

    {{ include('chantier/_form.html.twig', {'button_label': 'Sauvegarder'}) }}

{% endblock %}
