{% extends 'base.html.twig' %}

{% block title %}Edit Employes{% endblock %}

{% block body %}
    <div class="d-flex justify-content-center">
        <div class="show-chantier m-4 rounded p-4">
            <a class="btn rounded-pill" style="background-color: #ff863f; opacity: 0.85;" href="{{ path('app_admin_ouvrier') }}"><i class="bi bi-arrow-left"></i></a>
            <h3 class="text-center">Modification de l'employé</h3>
        {{ include('employes/_form.html.twig', {'button_label': 'Sauvegarder'}) }}
        </div>
    </div>
{% endblock %}
