<form method="post" action="{{ path('app_competence_delete', {'id': competence.id}) }}" class="d-inline" onsubmit="return confirm('Voulez vous supprimer cette compétence ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ competence.id) }}">
    <button class="btn btn-sm btn-danger">
        Supprimer
    </button>
</form>
