{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn rounded-pill" style="background-color: #ff863f; opacity: 0.85;">{{ button_label|default('Créer') }}</button>
{{ form_end(form) }}
