<form method="post" action="{{ path('app_mission_delete', {'id': id}) }}" onsubmit="return confirm('Voulez vous supprimer cette mission ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ id) }}">
    <button class="btn btn-danger m-1">Supprimer la mission</button>
</form>
