{% extends 'base.html.twig' %}

{% block body %}
<div class="d-flex justify-content-center">
    <div class="show-chantier m-4 rounded p-4">
        <a class="btn rounded-pill" style="background-color: #ff863f; opacity: 0.85;" href="{{ path('show_chantier', {'id': id}) }}"><i class="bi bi-arrow-left"></i></a>
        <h3 class="text-center">Création d'une mission</h3>
        <div class="container">
            {{ include('mission/_form.html.twig') }}
        </div>
    </div>
</div>

{% endblock %}
