body {
    background-image: url("../images/fond.jpg");
    background-size: cover;
    font-family: Arial, sans-serif;
    color: #000;
}

.login-container {
    display: flex;
    justify-content: center;
    gap: 60px;
    margin-top: 50px;
}

